<div id="wrapper">
  <div class="overlay"></div>

  <div ng-class="main.textShow ? 'navbar navbar-inverse navbar-fixed-top sidebar-wrapper' : 'navbar navbar-inverse navbar-fixed-top sidebar-wrapper-sm'" role="navigation">
      <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
              <a ng-if="main.textShow" class="sidebar-title">
                Discover
              </a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/whatsnew.png"/><a ui-sref="main" ng-if="main.textShow" href="#">What's New</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/genre.png"/><a href="#" ng-if="main.textShow">Genres</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/group.png"/><a ui-sref="roomsIndex" ng-if="main.textShow">Rooms</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/radio.png"/><a href="#" ng-if="main.textShow">Radio</a>
          </li>
      </ul>
      <ul class="nav sidebar-nav sidebar-wrapper-2" id="user-all">
        <h5>Explore Users</h5>
        <li ng-repeat="user in main.allUsers track by $index">{{user.name}}</li>
      </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-2" id="panel">
          <form ng-submit="roomsEdit.save()">
            <input type="text" name="name" ng-model="roomsEdit.selected.name" placeholder="Name">

            <select name="user" ng-model="roomsEdit.selected.user">
              <option disabled selected value="">Please select</option>
              <option ng-value="user._id" ng-repeat="user in roomsEdit.users" ng-selected="user._id === roomsEdit.selected.user._id">{{user.name}}</option>
            </select>

            <button>Save</button>
            <button type="button" ui-sref="roomsShow({ id: roomsEdit.selected._id })">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>