<div id="wrapper">
  <div class="overlay"></div>

  <div ng-class="main.textShow ? 'navbar navbar-inverse navbar-fixed-top sidebar-wrapper' : 'navbar navbar-inverse navbar-fixed-top sidebar-wrapper-sm'" role="navigation">
      <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
              <a ng-if="main.textShow" class="sidebar-title">
                Discover
              </a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/whatsnew.png"/><a ui-sref="main" ng-if="main.textShow" href="#">What's New</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/genre.png"/><a href="#" ng-if="main.textShow">Genres</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/group.png"/><a ui-sref="roomsIndex" ng-if="main.textShow">Rooms</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/radio.png"/><a href="#" ng-if="main.textShow">Radio</a>
          </li>
      </ul>
      <ul class="nav sidebar-nav sidebar-wrapper-2" id="user-all">
        <h5>Explore Users</h5>
        <li ng-repeat="user in main.allUsers track by $index">
          {{user.name}}
          <button class="btn btn-info" ng-click="roomsShow.inviteUser(user, roomsShow.selected)">Invite</button>
        </li>
<!--         <div class="notification">
          {{notification}}
        </div> -->
      </ul>
  </div>

  <div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-2" id="panel">
          <h1>{{ roomsShow.selected.name }}</h1>
          <img ng-src="{{ roomsShow.selected.image }}">
          <button ui-sref="roomsEdit({ id: roomsShow.selected._id })">Edit</button>
        </div>
      </div>
    </div>
  </div>

  <div class='col-lg-2 right-side-bar' id="chat-area">
    <ul>
      <li ng-repeat="message in roomsShow.all track by $index">{{message}}</li>
    </ul>
<!--     <button ng-click="roomsShow.sendMessage()"></button> -->

    <form ng-submit="roomsShow.sendMessage()">
      <input type="text" ng-model="roomsShow.message">
      <button type="submit">Send</button>
    </form>
  </div>

</div>