<div id="wrapper">
  <div class="overlay"></div>

  <div ng-class="main.textShow ? 'navbar navbar-inverse navbar-fixed-top sidebar-wrapper' : 'navbar navbar-inverse navbar-fixed-top sidebar-wrapper-sm'" role="navigation">
      <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
              <a ng-if="main.textShow" class="sidebar-title">
                Discover
              </a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/whatsnew.png"/><a ui-sref="main" ng-if="main.textShow" href="#">What's New</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/genre.png"/><a href="#" ng-if="main.textShow">Genres</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/group.png"/><a ui-sref="roomsIndex" ng-click="roomsShow.leaveRoom(roomsShow.currentUser, roomsShow.selected)" ng-if="main.textShow">Rooms</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/radio.png"/><a href="#" ng-if="main.textShow">Radio</a>
          </li>
      </ul>
      <ul class="nav sidebar-nav sidebar-wrapper-2" id="user-all">
<!--         <h5>Explore Users</h5>
        <li ng-repeat="user in main.allUsers track by $index">
          {{user.name}}
          <button class="btn btn-info" ng-click="roomsShow.inviteUser(user, roomsShow.selected)">Invite</button>
        </li> -->
<!--         <h5>Explore Rooms</h5>
        <li ng-repeat="room in main.allRooms track by $index">
          {{room.name}}
          <button class="btn btn-info" ng-click="[roomsShow.inviteUser(roomsShow.currentUser, room), roomsShow.switchRoom(room)]">Join</button>
        </li> -->
      </ul>
  </div>

  <div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-2" id="panel">
          <h1>{{ roomsShow.title }}</h1>
          <!-- <img ng-src="{{ roomsShow.selected.image }}"> -->
          <!-- <button ui-sref="roomsEdit({ id: roomsShow.selected._id })">Edit</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class='col-lg-2 right-side-bar' id="chat-area">
    <div class="start-chat" ng-if="roomsShow.joinedRoom === false">
      <div  id="start-chat-button" class="send_message">
        <div class="icon"></div>
        <div class="text" ng-click="roomsShow.joinRoom(roomsShow.currentUser, roomsShow.selected)">Start Chat</div>
      </div>
    </div>
    <div class="chat_window">
      <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">Chat</div>
        <button class="button-leave-room" ui-sref="roomsIndex" ng-click="roomsShow.leaveRoom(roomsShow.currentUser, roomsShow.selected)">Leave Room</button>
      </div>
      <ul class="messages">
        <li ng-repeat="message in roomsShow.all track by $index" ng-class=" roomsShow.currentUser.name === message.user.name ? 'message right' : 'message left' ">
          <div class="avatar"></div>
          <div class="text_wrapper">
              <div class="text">{{message.user.name}}: {{message.content}}</div>
          </div>
        </li>
      </ul>
      <div class="bottom_wrapper clearfix">
        <form ng-submit="roomsShow.sendMessage()">
          <div class="message_input_wrapper">
            <input type="text" ng-model="roomsShow.message" class="message_input" placeholder="Type your message here..." />
          </div>
          <div class="send_message" ng-click="roomsShow.sendMessage()">
            <div class="icon"></div>
            <div class="text">Send</div>
          </div>
        </form>
      </div>
<!--       <div class="message_template">
          <ul class="messages">
            <li class="message" ng-repeat="message in roomsShow.all track by $index">
              <div class="avatar"></div>
              <div class="text_wrapper">
                  <div class="text">{{message.user.name}}: {{message.content}}</div>
              </div>
            </li>
          </ul>
      </div> -->
    </div>
  </div>

</div>