<div id="wrapper">
  <div class="overlay"></div>

  <div ng-class="main.textShow ? 'navbar navbar-inverse navbar-fixed-top sidebar-wrapper' : 'navbar navbar-inverse navbar-fixed-top sidebar-wrapper-sm'" role="navigation">
      <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
              <a ng-if="main.textShow" class="sidebar-title">
                Discover
              </a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/whatsnew.png"/><a ui-sref="main" ng-if="main.textShow" href="#">What's New</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/genre.png"/><a href="#" ng-if="main.textShow">Genres</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/group.png"/><a ui-sref="roomsIndex" ng-if="main.textShow">Rooms</a>
          </li>
          <li>
              <img ng-class="main.textShow ? 'icon-side' : 'icon-side-lg'" src="../images/radio.png"/><a href="#" ng-if="main.textShow">Radio</a>
          </li>
      </ul>
      <ul class="nav sidebar-nav sidebar-wrapper-2" id="user-all">
        <h5>Explore Users</h5>
        <li ng-repeat="user in main.allUsers track by $index">{{user.name}}</li>
      </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-2" id="panel">
            <h1>Discover</h1>
            <button ng-click="main.playSomeSound(hiphop)">Start</button>
            <button ng-click="main.randomSelection()">Random</button>
            <div class="row">
              <div ng-repeat="track in main.tracks track by $index" ng-if="track.artwork_url !== null" class="col-md-9 grid" id="grid-single">
                <img ng-click="main.inputSound(track.stream_url)" class="grid-img img-rounded" ng-src="{{ track.artwork_url }}" err-src="http://www.centurymedia.com/media/news/large/635877535374959334.jpg">
                <div class="grid-info">
                  <span class="song-header">Song Title</span>
                  <span ng-click="main.addToPlaylist(track)" ng-class="{'toBeAddedToPlaylist' : track.toBeAddedToPlaylist, 'addToPlaylist' : !track.toBeAddedToPlaylist, 'addedToPlaylist' : track.importedToPlaylist }">++/</span></br>
                  <span class="song-artist">Artist</span></br>
                  <span class="song-duration">Duration</span>
                </div>
              </div>
              <audio andy-audio ng-src="{{ main.currentSound }}" autoplay controls></audio>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class='col-lg-2 right-side-bar' ng-controller="RoomsIndexController as roomsIndex">
    <button id="new-group" class="btn btn-info" ui-sref="roomsIndex">New Room + </button>
    <h6>Your Rooms</h6>
    <ul ng-if="!main.toBeAddedToPlaylist===true" class="nav nav-tabs nav-stacked">
      <li ng-repeat="room in roomsIndex.all" ng-if="room.users.includes(roomsIndex.currentUser._id) === true" ui-sref="roomsShow({ id: room._id })">
        {{room.name}}
      </li>
    </ul>
    <label ng-if="main.toBeAddedToPlaylist===true" ng-repeat="room in roomsIndex.all" for="{{room}}">
      <input id="{{room}}" type="checkbox" value="{{room}}" ng-checked="main.roomSelections.indexOf(room) > -1" ng-click="main.toggleSelection(room)"/> 
      {{room.name}}
    </label>
    <h6 ng-if="main.toBeAddedToPlaylist===true">Please Select a Room To Import</h6>
    <button type="submit" ng-if="main.toBeAddedToPlaylist===true" ng-click="main.importedToPlaylist()">Import</button>
    <button ng-if="main.toBeAddedToPlaylist===true" ng-click="main.clearPlaylist()">Cancel</button>
  </div>
</div>

